*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Caveat', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Poltawski Nowy', serif;
    
}
.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.contenedor{
    height: 100vh;
    width: 100%;
    background-image: url(img/pawel-czerwinski-z4n8CGRuzOA-unsplash.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 300px;
    cursor: pointer;
    margin-top: 80px;
    
}
.cart{
    width: 40px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: blueviolet;
    
}
.contenido h1{
    font-size: 70px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    
    color: #4d0686;
}
.contenido p{
    font-size: 20px;
    color: white;
}
.cta{
    display: inline-block;
    margin: 20px;
    width: 150px;
    padding: 15px 0 ;
    text-align: center;
    background: white;
    border-radius: 4px;
    text-decoration: none;
    color:rgb(156, 49, 156);
}
.contenido{
    margin-left: 2%;
    margin-top: 10%;

}
.belleza-img{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 10px;
    animation: ilustracion ease-in 1s infinite alternate;
}
@keyframes ilustracion{
    0%{ transform: scale(1);  
    }100%{
        transform: scale(1.04);
    }
}
.redes{
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}
.redes a{
    text-decoration: none;
    color: blueviolet;
    padding-right: 20px;
    font-size: 14px;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    background: rgb(247, 151, 183);
    padding: 30px;
    
}
.titulo{
    text-align: center;
    font-size: 50px;
    padding: 40px;
    color: #4d0686;
    
}
.imagen-about-us{
    width: 28%;
}
.contenedor-sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3 span{
    background: #4d0686;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 7px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.portafolio{
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 350px;
    margin:10px;
    height: 170px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border: #fff 2px solid;
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(271, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
footer{
    background: #bd8888;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid#af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #fff;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #ccc2c2;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 20%;
  right: 35%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  filter: none;
  
}



/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 5px 22px 5px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #82ddbc;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(194, 71, 71);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
@media screen and (max-width:1000px) {
    
    .belleza-img{
        height: 60%;
    }
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
        
    }

    .sobre-nosotros .contenido-textos{
        width: 50%;
        height: 470px;
        text-align: center;
    }
    .h2{
        
        padding: 15%;

    }
    .contenedor{
        height: 700px;
    }

    .imagen-about-us{
        width: 20%;
    }

    /*galeria*/

    .imagen-port{
        width: 60%;
        height: 70px;
        margin-top: 0;
    }
   

    /*clientes*/

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }
    .footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    }

}
 @media screen and (max-width:600px) {
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header h2{
        font-size: 20px;
    }
    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }
    /*galeria*/

    .imagen-port{
        width: 95%;
    }

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }
    /*footer*/
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
    .titulo-final{
        font-size: 8px;
    }
 }
